<h1>Hello from Codial / <%= title %>
</h1>

<% if (locals.user) { %>
    <section id="post-section">
        <h1>Posts</h1>
        <form action="/posts/create" method="post">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
            <button type="submit">Post</button>
        </form>
    </section>

    <% } %>

        <section id="posts-list-cont">

            <ul>
                <% for( let post of locals.posts_list ) { %>
                    
                    <!-- separate partial for showing post -->
                    <%- include("_post", 
                    // passing post as a prop to the _post partial
                    { post }) %>

                    <hr>
                    <% } %>
            </ul>
        </section>

        <section id="user-friends">
            <h4>Friends</h4>
            <% for( let u of locals.all_users ) { %>
                <p>
                    <a href="/users/profile/<%= u.id %> ">
                        <%= u.name %>
                    </a>
                </p>
            <% } %>
        </section>