.likes-container{
    color: white;
    i.fa-regular:hover{
        color:brown;
        cursor: pointer;
    }
    i.fa-solid:hover{
        cursor: pointer;
    }
    .fa-solid{
        color:brown;
    }
}