footer {
  background-color: dimgrey;
  display: flex;
  margin: 0;
  color: white;
  align-items: center;
  justify-content: space-between; }
  footer h3 {
    margin: 20px; }
  footer ul {
    margin: 20px;
    padding: 0;
    list-style-type: none;
    -webkit-padding-start: 0;
    display: flex; }
    footer ul li {
      margin: 5px; }
  footer a {
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: 1000; }
  footer a:hover {
    color: green; }
